NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-local-secret

# Cognito User Pool (obligatorio para login)
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_XXXXXXXXX
COGNITO_REGION=us-east-1

NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:8078
